apiVersion: v1
kind: Service
metadata:
  name: gorax-api
  labels:
    app: gorax
    component: api
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: gorax
    component: api
  sessionAffinity: None
